.carousel.slide#carousel-hot{'data-ride' => 'carousel'}
  .carousel-inner
    .item.active
      %img{:src => 'assets/slide-01.jpg', :alt => ''}
    .item
      %img{:src => 'assets/slide-02.jpg', :alt => ''}
    .item
      %img{:src => 'assets/slide-03.jpg', :alt => ''}
    .item
      %img{:src => 'assets/glyphicons-halflings.png', :alt => ''}
  %a.left.carousel-control{:href => '#carousel-hot', 'data-slide' => 'prev'}
  %a.right.carousel-control{:href => '#carousel-hot', 'data-slide' => 'next'}