.navbar-wrapper
  .container
    .navbar.navbar-inverse
      .navbar-inner

- item_class = "active" 
.carousel.slide#carousel-hot{'data-ride' => 'carousel'}
  .carousel-inner
    - @images.each do |image|  
      .item{:class => item_class}
        %img{:src => image.image_url, :alt => ''}
      - item_class = ""

  %a.left.carousel-control{:href => '#carousel-hot', 'data-slide' => 'prev'}
  %a.right.carousel-control{:href => '#carousel-hot', 'data-slide' => 'next'}